.contact-container {
  display: flex;
}

.contact-left {
  width: 100%;
  display: grid;
  text-align: center;
}

.contact-right {
  width: 100%;
}

.buttons {
  margin: 16px 24px;
  display: flex;
  gap: 24px;
}

.contact-form {
  width: 100%;
}

.contact-btn {
  display: inline-block;
  width: 100%;
  background-color: aqua;
  cursor: pointer;
  font-size: 1.3rem;
  border: 1px solid red;
  height: 32px;
  border-radius: 16px;
}

.btn:hover {
  background-color: red;
  color: aqua;
  border: 1px solid blue;
}

.location-map {
  width: 100%;
  height: 100%;
}
