* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background-color: #00a2e8;
}

p,
h1,
h2,
h3 {
  color: yellow;
}

html {
  font-family: "Poppins", sans-serif;
}

.main-container {
  max-width: 1400px;
  margin: auto;
  background-color: #00a2e8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

nav .nav-btn {
  font-size: 20px;
  color: yellow;
  border-radius: 8px;
  background-color: coral;
  width: 17%;
  padding-top: 1%;
  margin: 12px;
  text-align: center;
  border: 1px solid #00a2e8;
}

nav .nav-btn:hover {
  background-color: #80f2f8;
}

.fa-key {
  font-size: 60px;
  padding: 12px;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

a:visied {
  text-decoration: none;
  color: black;
}

.contact-tel {
  font-size: inherit;
  color: red;
}

header h2 {
  font-size: 2rem;
  margin: 24px;
  font-weight: 600;
  text-align: center;
}

main,
section {
  margin: 16px;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
  line-height: 1.7;
  font-weight: 400;
}

main hr,
section hr {
  margin-top: 24px;
  margin-bottom: 24px;
}

footer {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

footer .fb-icon-wrap p {
  font-size: 24px;
}
