* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #00a2e8;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: auto;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

nav .nav-btn {
  font-size: 20px;
  color: yellow;
  border-radius: 8px;
  background-color: coral;
  width: 17%;
  padding-top: 1%;
  margin: 12px;
  text-align: center;
  border: 1px solid #00a2e8;
}

nav .nav-btn:hover {
  background-color: #80f2f8;
}

.fa-key {
  font-size: 60px;
  padding: 12px;
}

a {
  text-decoration: none;
  color: black;
}

a:visied {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

footer .fb-icon-wrap p {
  font-size: 24px;
}
